/* Reset global*/
*, *::before, *::after{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}
/* Vérification de la liaison entre feuille de styles et html */
body{
    background-color: azure;
}